body {
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.item { width: 24%; padding-bottom:10px;}

.item-title {
	background-color: black;
	width:100%;
	color:white;
	text-align: center;
}

.loading-spinner {
	height: 60vh;
	max-height: 800px;
}

#loaderImage {
	margin: 0 auto;
	position:relative;
	top:35%;
}

@media only screen and (max-width: 1000px) {
	.item {
		width: 32%;
	}
}

@media only screen and (max-width: 750px) {
	.item {
		width: 45%;
	}
}

@media only screen and (max-width: 400px) {
	.item {
		width: 95%;
	}
}